<!-- append common header -->
<%- include('partials/_header'); %>

<!-- send data from cli to server -->

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <!-- List of customers -->
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <!-- name -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="name"     placeholder="Name:" id="">
                        </div>
                        <!-- address -->
                        <div class="form-group">
                            <input class="form-control" type="text"     name="address" placeholder="Address:" id="">
                        </div>
                        <!-- phone -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone"    placeholder="Phone number:" id="">
                        </div>
                        <!-- submit button -->
                        <button type="submit" class="btn btn-primary">
                            Save Customer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- append footer -->
<%- include('partials/_footer'); %>